* {
  -moz-box-sizing: border-box;
  /*Firefox3.5+*/
  -webkit-box-sizing: border-box;
  /*Safari3.2+*/
  -o-box-sizing: border-box;
  /*Opera9.6*/
  -ms-box-sizing: border-box;
  /*IE8*/
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome and Opera */
  outline: none;
}

::-webkit-input-placeholder {
  color: #BBCDC5;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #BBCDC5;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #BBCDC5;
}

:-ms-input-placeholder {
  color: #BBCDC5;
}

@font-face {
  font-family: 'RussoOne';
  src: url('../assets/fonts/Russo_One/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  /*format() 可选：可以显式声明字体格式帮助浏览器识别 */
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}